//Color Schemes
//First color scheme
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;
//Second color scheme
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;
//Third color scheme
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;

// Typography
//Font Families
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Typography
// Font Weight
$weight-light: 300;
$weight-regular: 400;
$weight-black: 900;

// Typography
// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;