.article{
    
    .article__container{
        .article__date{
            font-weight: $regular-weight;
            font-size: 25px ;
        }
        .article__paragraph{
            line-height: 40px;
            margin: 40px 0;
            font-size: $medium;
        }
        .btn-sm{
            border: solid $raisin-black thin;
            border-radius: 20px;
            padding: 10px 10px;
            background-color: $nickel;
        }
    } 
}