.header{
    background-image: url("../img/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .header__container{
        @include flex-container;
        .header__title{
            font-size: $xx-large;
            color: $platinum;
            font-style: italic;
            font-weight: $black-weight;
            text-align: center;
        }
    }
}