.section{
    .section__container{
        
        .section__author{
            font-weight: $weight-black;
            font-style: italic;
            font-size: $x-large;
            color: $raisin-black;
            text-align: center;
        }
        .section__author--pink{
            font-weight: $weight-regular;
            font-size: $large;
            color: $spanish-pink;
            text-align: center;
        }
        .section__link{
            text-decoration: none;
            color: inherit;
        }
        .section__summary{
            font-weight: $weight-light;
            font-size: $small;
            line-height: 30px;
        }
    }
}
//  makes the author's picture smaller or bigger depending on the device
@media screen and (min-width: 601px){
    .section__img.section__img--resize{
     height:142px;
    }
  }

  @media screen and (max-width: 600px){
    .section__img.section__img--resize{
     height:131px;
    }
  }